h1{text-align: center;
	font-family: Verdana;
	color: A43741;
}
h3{text-align: center;
	color: 7B151E;
}
p{text-align: center;
	color: 00352E;	
	font-family: Verdana;
}
body{background-color: 246B61}

#controls{
	width: 500px;
	height: 100px;
	background-color: 6BA099;
	margin: 0 auto;
}

#main{
	width: 1000px;
	height: 1000px;
	background-color: white;
	margin: 50px auto;
}

.cell{

	width:28px;
	height: 28px;
	
	float: left;
	border: 1px solid FFE1AA;
}


.selected{
	background-color: FFE1AA;
}

.blank:hover { 
    background-color: yellow;
}

